* {
    color: white;
}

.title {
    text-decoration: none;
    color: white;
    font-size: x-large;
}

.text {
    color: white;
}

.beers-container {
    background-color: #3D550C;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.single-beer-container {
    /* border: solid black 1px; */
    border-bottom: solid black 1px;
    height: 55vh;
    width: 100%;
    display: flex;
    /* flex-direction: row;
    align-items: center; */
}

img {
    height: 30vh;
    width: 20vw;
    /* height: 25vh;
    width: 5vw; */
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    color: black;
}