header {
    background-color: #59981A;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
}

.icon-container {
    background-image: url('../toast.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 5vh;
    width: 5vw;
    margin: 0;
}

.home-container {
    margin-left: 5%;
}

.menu-container {
    margin: 5%;
}

/* .link {
    text-decoration: none;
    color: 'white';
} */


/* Olive Green
#3D550C

Lime Green
#81B622

Yellow Green
#ECF87F

Green
#59981A */